* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root, 
.chat__wrapper {
  height: 100%;
  width: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.spinner {
  height: 15px;
  width: 4px;
  background-color: black;
  border-radius: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotateZ(0deg) } 
  to { transform: rotateZ(360deg) } 
 }